
:root {
    --primary-bg: #3179BA;
    --list-bg: #F1F2F4;
    --list-text: #1E2E4D;
    --icon-color: #5B677C;
    --scrollbar-thumb: #DEDEDE;
    --scrollbar-track: #F8F8F7;
    --card-bg: #FFFFFF;
    --hover-bg: #DEDEDE;
    --button-bg: #0079BF;
    --button-hover-bg: #005FA3;
    --confirm-bg: #003F7F;
    --cancel-bg: #6C757D;
    --cancel-hover-bg: #5A6268;
    --input-bg: #F6F6F6;
    --input-border: #444;
    --input-focus-border: #0079BF;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
}
#addListContainer{
    padding: 8px;
    margin: 10px;
    overflow-x: auto;
}
#addListContainer .input-container {
    display: flex; 
   width:100%;
    overflow-x: auto; 
}
#addListContainer .input-container input {
    width: 500px;
    flex-shrink: 0; 
}
#addListContainer .input-container input:focus{
    border: 1px solid var(--button-bg);
}
button {
    all: unset; 
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}
 button:focus-visible{
  outline: 2px solid black;
}
.board-container {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    gap: 20px;
    padding: 20px;
    margin:4px;
    margin-top: 100px;
}
.list {
    background-color: var(--list-bg);
    color:var(--list-text);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: 300px;
    flex-shrink: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.list:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    outline:2px solid var(--card-bg);
}
.list-header{
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    margin-bottom: 15px;
}
.list-header h3 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: var(--list-text);
}
.card-icons {
    display: flex;
    gap: 10px; /* Adjust gap for cleaner spacing */
    justify-content: flex-end; /* Align icons neatly to the right */
   
}
.list-icons button,.card-icons button{
    padding:4px;
    color: var(--icon-color);
}
.list-icons {
    display: flex;
    gap: 10px; /* Adjust gap for cleaner spacing */
    justify-content: flex-end; /* Align icons neatly to the right */
}
.list-icons i, .card-icons i {
   
    cursor: pointer;
    font-size: 20px; /* Improved visibility for icons */
    flex-shrink: 0;
    
    padding: 6px; /* Subtle padding for a clickable area */
    border-radius: 50%; /* Circular hover effect */
}
  ul{
    scrollbar-width:thin;
    scrollbar-color:var(--scrollbar-thumb) var(--scrollbar-track);
}



.card-icons i:hover,.list-icons i:hover{
   
    background-color: var(--hover-bg) ; /* Background for better contrast */
}


.card {
    background: var(--card-bg);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
  
    margin-bottom: 12px;
    cursor: move;
   
}
.card .edit-input{
    flex: 1;
}
.card-content{
  display: flex;
  gap:10px;
  justify-content: space-between;
 
}
.card-content .card-title{
    margin:2px
}




.add-card{
    text-align: center;
}
.add-card :hover{
    outline: 2px solid var(--card-bg);
    background-color: var(--button-hover-bg);
}

.add-card :focus-visible{
    outline: 2px solid var(--card-bg);
}



.add-card,
.add-list {
    background-color: var(--button-bg);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
  
    transition: background 0.2s ease;
}


.add-list:hover {
    background-color: var(--button-hover-bg);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}

.input-container input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: #1e1e2f;
    outline: none;
    transition: border 0.2s ease;
}

.input-container input:focus {
    border: 1px solid var(--input-focus-border);
}

.input-container .buttons {
    display: flex;
    gap: 8px;
}

.input-container button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
}



.input-container .confirm {
    background-color: var(--confirm-bg);
    margin: 4px;
   
    color: #fff;
    padding: 8px;
    margin-left:8px;
    outline: none;
}
.input-container .confirm:hover{
    background-color: var(--button-hover-bg);
}
.input-container .confirm:focus-visible{
    outline : 2px solid var(--button-hover-bg);
}



.input-container .cancel {
    background-color: var(--cancel-bg);
    color: #fff;
   margin:4px;
    padding: 8px;
    outline: none;
}
.input-container .cancel:hover{
    background-color: var(--cancel-hover-bg);
}
.input-container .cancel:focus-visible{
    outline : 2px solid var(--cancel-hover-bg);
}



.edit-input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    background-color: var(--input-bg);
    color:  #1e1e2f;
    outline: none;
    margin-right: 10px;
    transition: border 0.2s ease;
}

.edit-input:focus {
    border: 1px solid var(--input-focus-border);
}
#addListButton {
    background-color: var(--card-bg);
    outline:none;
    color: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    margin-left:18px;
}
#addListButton:hover {
    background-color: var(--hover-bg);
}
#addListButton:focus-visible{
    outline: 2px solid black;
}
.cards-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    overflow-y: auto;
    max-height: 300px;
}
.list-actions-modal {
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    width: 200px;
  }
  .card-actions-modal{
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    width: 200px;
  }
  
  .list-actions-modal.hidden {
    display: none;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-actions {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .modal-actions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .modal-actions li:hover {
    background-color: #f0f0f0;
  }
 
  #addListContainer .input-container .buttons{
    justify-content: flex-start;
    margin-top: 6px;
    padding: 1px;
    gap: 4px;
  }
  #addListFixedContainer {
    position: fixed;
    top: 20px; 
    left: 20px; 
    z-index: 1000; 
  
    
}
.edit-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch; /* Ensure full width */
    width: 100%;
}

.edit-card {
    display: flex;
    align-items: center;
   gap:8px;
 
    
  
}

.edit-input {
    width: 100%; /* Make input take full width */
}

.input-container .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
   
  



